.Featured_Items_container{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.Featured_Items_container img{
    height: 600px;
    width: 500px;
    border-radius: 50px;
    margin-top: 0px;
}

.Add_To_Cart_Button{
    background-color: #D97706;
    
}
