.Menu_Items{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Menu_Card{
    flex: 1 1 300px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    transition: 0.3s ease;
    padding: 10px;
}

.Menu_Card:hover{
    transform: translateY(-10px);
}

.Menu_Card img{
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.Item_Info h3{
    margin-bottom: 10px;
    color: #2b1a11;
}

.Item_Info p{
    margin-bottom: 12px;
    color: #666;
}

.Item_Info span{
    font-size: 20px;
    font-weight: bold;
    color:#2b1a11;
}